<fieldset>
	<legend>Payload &amp; Balloon</legend>
	<p>Enter your balloon and payload information in the boxes below.</p>
	<div class="form-group col-lg-6">
		<label for="brand" class="control-label">Brand</label>
		<select id="manufacturer" class="form-control">
			<option>Kaymont</option>
			<option>Howyee</option>
		</select>
	</div>
	<div class="form-group col-lg-6">
		<label for="size" class="control-label">Size</label>
		<select id="size" class="form-control">
			<option>600g</option>
			<option>1200g</option>
		</select>
	</div>
	<div class="form-group col-lg-6">
		<label for="mass" class="control-label">Payload Mass</label>
		<input id="mass" type="number" step="any" min="0.0" class="form-control">
	</div>
	<div class="form-group col-lg-6">
		<label for="lift" class="control-label">Net Lift</label>
		<input id="lift" type="number" step="any" min="0.0" class="form-control">
	</div>
	<div class="btn-group pull-right">
		<button id="prev" type="button" class="btn">Back</button>
		<button id="next" type="button" class="btn btn-primary">Next</button>
	</div>
</fieldset>