<fieldset>
	<legend>Launch Date &amp; Time</legend>
	<p>Enter your launch date and time below.</p>
	<div class="form-group">
		<label for="date">Launch Date</label>
		<div class="input-group">
			<input id="date" name="date" type="text" class="form-control" autofocus placeholder="MM/DD/YYYY" autofocus>
			<span class="input-group-btn">
				<button id="date-button" class="btn btn-default" type="button">
					<i id="date-icon" class="icon-calendar"></i>
				</button>
			</span>
		</div>
	</div>
	<div class="form-group">
		<label for="time">Launch Time</label>
		<div class="input-group">
			<input id="time" name="time" type="text" class="form-control" placeholder="HH:MM">
			<span class="input-group-btn">
				<button id="time-button" class="btn btn-default" type="button">
					<i id="time-icon" class="icon-time"></i>
				</button>
			</span>
		</div>
	</div>
	<div class="btn-group pull-right">
		<button id="prev" type="button" class="btn">Back</button>
		<button id="next" type="button" class="btn btn-primary">Next</button>
	</div>
</fieldset>