.application {
	margin-top: 0.5em;
}

.application-icon {
	float: left;
	font-size: 3em;
	text-align: center;
	width: 1em;
	margin-right: 0.25em;
}

.application-name {
	margin-top: 0em;
	margin-bottom: 0.25em;
	padding-top: 0.1em;
}

.application-description {
	margin-top: 0em;
	margin-bottom: 0em;
}