<div class="row">
	<div class="col-md-5">
		Created by <a href="http://www.aerodynelabs.com">Aerodyne Labs<a> and <a href="http://www.stratostar.net/">Stratostar</a>. Initially funded through a grant from Taylor University.
	</div>
	<div class="col-md-4">
		<h3>Services</h3>
		<div class="list-group">
			<a href="http://www.openstreetmap.org/copyright" class="list-group-item" target="_blank">
				<h4 class="list-group-item-heading">Open Street Map Data</h4>
				<p class="list-group-item-text">Open Data Commons Open Database License</p>
			</a>
			<a href="http://developer.mapquest.com/web/products/open/map" class="list-group-item">
				<h4 class="list-group-item-heading">MapQuest Tile Service</h4>
				<p class="list-group-item-text">Map tiles provided by MapQuest using OSM data</p>
			</a>
			<a href="http://developer.mapquest.com/web/products/open/geocoding-service" class="list-group-item" target="_blank">
				<h4 class="list-group-item-heading">MapQuest Geocoding Service</h4>
				<p class="list-group-item-text">Geocoding provided by Mapquest using OSM data</p>
			</a>
			<a href="http://developer.mapquest.com/web/products/open/elevation-service" class="list-group-item" target="_blank">
				<h4 class="list-group-item-heading">MapQuest Elevation Service</h4>
				<p class="list-group-item-text">Elevation service provided by MapQuest</p>
			</a>
			<a href="http://www.geonames.org" class="list-group-item" target="_blank">
				<h4 class="list-group-item-heading">GeoNames Web Service</h4>
				<p class="list-group-item-text">CC-BY</p>
			</a>
		</div>
	</div>
	<div class="col-md-3">
		<h3>Components</h3>
		<div class="list-group">
			<a href="" class="list-group-item">Node</a>
			<a href="" class="list-group-item">Backbone</a>
			<a href="" class="list-group-item">Marionette</a>
			<a href="" class="list-group-item">Leaflet</a>
			<a href="" class="list-group-item">D3</a>
		</div>
	</div>
</div>